@model ContentManagementSystem.Models.MaterialViewModel
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Main content -->
        <div class="col-md-10">
            <div class="container mt-4">
                @* <h2>Material IN</h2> *@
                <h3>Material IN Form</h3>


                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label>Invoice Number</label>
                            <input class="form-control  mandatory " name="Invoice" id="Invoice" required />

                        </div>
                        <div class="form-group mb-3">
                            <label>Company</label>

                            <select name="Company Name" class="form-control mandatory" id="Companyid" style="border: 1px solid lightgray;">
                                <option value="0">Select</option>
                                @if (ViewBag.Companies != null)


                                {

                                    foreach (var item in ViewBag.Companies as List<SelectListItem>)

                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }


                                }
                            </select>
                        </div>
                     
                      <div class="form-group mb-3">
                                           

                          @*   <select name="Vendor Name" id="Vendor" class="form-control mandatory select2" style="width: 100%;">
                                <option value="">-- Select Vendor --</option>
                                @if (ViewBag.Vendors != null)

                                {
                                    foreach (var item in ViewBag.Vendors as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select> *@
                            

                        
                  
                            <label class="form-label">Vendor Name</label>
                            <input type="text" class="form-control" name="NewMaterial.CustomVendorName" id="customVendorName" placeholder="Enter Vendor Name" />
                   
                        </div>
                        <div class="form-group mb-3">
                            <label>Asset Item</label>


                            <select name="AssetItem Name" class="form-control mandatory" id="AssetItem" style="border: 1px solid lightgray;">
                                <option value="0">Select</option>
                                @if (ViewBag.AssetItems != null)

                                {



                                    foreach (var item in ViewBag.AssetItems as List<SelectListItem>)

                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }



                                }
                            </select>
                        </div>
                        <div id="customAssetNameDiv" style="display:none;" class="form-group mb-3">
                            <label class="form-label">Custom Asset Name</label>
                            <input type="text" class="form-control" id="customAssetName" placeholder="Optional" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label>Manufacturer</label>


                            <select name="Manufacturer Name"  class="form-control mandatory" id="Manufacturer" style="border: 1px solid lightgray;">
                                <option value="0">Select</option>
                                @if (ViewBag.Manufacturers != null)

                                {
                                    foreach (var item in ViewBag.Manufacturers as List<SelectListItem>)

                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            </select>
                        </div>
                        <div id="customManufacturerNameDiv" style="display:none;" class="form-group mb-3">
                            <label class="form-label">Custom Manufacturer Name</label>
                            <input type="text" class="form-control" name="NewMaterial.CustomManufacturerName" id="customManufacturerName" placeholder="Enter Manufacturer Name" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Bill Date</label>
                            <div class="input-group">
                                <input type="text"
                                       id="BillDate"
                                       name="BillDate"
                                       class="form-control date-picker"
                                       required
                                       placeholder="DD/MM/YYYY"
                                       autocomplete="off" />
                                <span class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </div>

                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Received Date</label>
                            <div class="input-group">
                                <input type="text" id="ReceivedDate"
                                       class="form-control date-picker"
                                       name="ReceivedDate"
                                       required
                                       placeholder="DD/MM/YYYY"
                                       autocomplete="off" />
                                <span class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <lable>Receive Quantity</lable>
                            <div class="input-group">

                                <input type="number" class="form-control" min="1" value="1" id="reqnQuantity" readonly="readonly" />
                                @*  <button type="button" class="btn btn-secondary" onclick="decrementQuantity()">-</button> *@
                                <button type="button" class="btn btn-secondary" onclick="incrementQuantity()">+</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Invoice Image</label>
                    <div>
                        <button type="button" class="btn btn-secondary" onclick="uploadInvoice()">
                            <i class="fas fa-upload"></i> Upload Invoice Images
                        </button>
                        <input type="file" id="invoiceUpload" name="ImageFile" style="display :None" />
                    </div>
                </div>

                <div class="table-responsive" id="details">
                    <table class="table table-bordered" id="itemsTable">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Asset Type</th>
                                <th class="d-none">AssetTypeId</th>
                                <th>Serial No</th>
                                @* <th id="thItemName" class="d-none">Item Name</th> *@
                                <th id="thWarrantyDate">Warranty&nbsp;Date</th>
                                <th>Model No</th>
                                <th id="thGeneration">Generation</th>
                                <th id="thCPU">Processor</th>
                                <th id="thRAM">RAM (GB)</th>
                                <th id="thHDD">Hard Disk</th>
                                <th id="thSSD">SSD </th>
                                <th id="thOther">Other</th>
                                <th id="Action">Action</th>
                            </tr>
                        </thead>
                        <tbody id="itemsTableBody">
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" id="Otherdetails">
                    <table class="table table-bordered" id="itemsTable">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Asset Type</th>
                                <th class="d-none">AssetTypeId</th>
                                <th>Serial No</th>
                                <th id="thItemName">Item Name</th>
                                <th id="thWarrantyDate">Warranty Date</th>
                                <th>Model No</th>
                                <th id="thOther">Other</th>
                                <th id="Action">Action</th>
                            </tr>
                        </thead>
                        <tbody id="itemsTableBody2">
                        </tbody>
                    </table>
                </div>

                <div class="text-end">
                    <button onclick="Insert()" class="btn btn-primary">Submit</button>
                    @* <a href="@Url.Action("InvoiceDashboard", "Material")" class="btn btn-secondary">View All Invoices</a> *@
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .datepicker {
            z-index: 1060 !important;
        }

        .input-group-text {
            cursor: pointer;
        }

            .input-group-text:hover {
                background-color: #e9ecef;
            }

        .datepicker table tr td.today {
            background-color: #FFF176 !important;
            border-color: #FFE082 !important;
        }

        .datepicker table tr td.active {
            background-color: #007bff !important;
            border-color: #0056b3 !important;
        }
    </style>
}<!-- jQuery (Must be included before Datepicker) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap 4 or 5 (If using Bootstrap) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



<script src="~/js/MatrialIn.js"></script>
<script>
    $(document).ready(function () {
        $('#Vendor').select2({
            tags: true,  // Allows adding new options
            placeholder: "Select or Add Vendor",
            allowClear: true
        });


        $(document).ready(function () {
            $(".date-picker").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                clearBtn: true
            });

            $('.input-group-text').click(function () {
                let inputField = $(this).closest('.input-group').find('.date-picker');
                if (inputField.length) {
                    inputField.datepicker('show');
                } else {
                    console.error("Datepicker input field not found.");
                }
            });
        });
    });

    

    $('input[name="BillDate"],input[name="ReceivedDate"]').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                clearBtn: true
            });

            // Update the search form
            $('.date-picker').on('changeDate', function() {
                $(this).datepicker('hide');
            });



</script>


<style>
    .accordion-button:not(.collapsed) {
        background-color: #e7f1ff;
        color: #0c63e4;
    }

    .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
    }

    .accordion-button span {
        flex: 1;
        text-align: left;
        margin-right: 1rem;
    }

    .table-sm td, .table-sm th {
        padding: 0.5rem;
        vertical-align: middle;
    }

    .accordion-body {
        padding: 1.5rem;
    }

    .table-hover tbody tr:hover {
        background-color: rgba(0,0,0,.075);
    }
</style> 